# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.firebaserc
firebase.json
.firebase/hosting.cHVibGlj.cache
public/index.html
public/manifest.json
public/assets/icon-BEyuKaL-.svg
public/assets/index-CivO7bPf.js
public/assets/index-DGK_AL1M.js
public/assets/index-orhoCJMK.js
public/assets/manifest-BWftzrwQ.json
public/manifest.json
